* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav_container {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 52px 140px 0;
}
.navtext_box {
  gap: 78px;
  display: flex;
}
.box_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navtext {
  color: #000;
  text-decoration: none;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.box_container_text {
  display: flex;
  flex-direction: column;
}
.box_container_text_main {
  color: #b80a41;
  font-family: joystix;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 151px 35px 59px 141px;
}
.box_container_text_second {
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px 35px 200px 141px;
}
.box_container_img {
  margin: 77px 140px 131px 0;
}
.box_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 140px 121px;
}
.box_info_img {
  display: flex;
  gap: 99px;
  margin: 72px 0 83px;
}
.box_info_text {
  color: #000;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.box_info_subtext {
  color: #000000;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  font-family: Inter;
  width: 1153px;
}
.box_gameboybook {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 146px 112px 141px;
}
.box_gameboybook_card {
  margin: 53px 143px 0 0;
}
.box_gameboybook_header {
  font-family: Joystix;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000000;
  text-align: center;
}
.free {
  color: #ffffff;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  display: inline-flex;
  border-radius: 43.591px;
  background: #2686b0;
}

.learn {
  text-decoration: none;
  color: #2686b0;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.box_info_subtext {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.book_sub {
  color: var(--grey-80, #575656);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box_game {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
  margin: 70px 136px 80px 141px;
}
.box_game_text {
  color: #b80a41;
  font-family: Joystix;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.box_game_card {
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box_game_black_text {
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000000;
}
.box_game_white_text {
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #ffffff;
  margin: 15px 0;
}
.learn-text {
  display: flex;
  gap: 13px;
  margin: 18px 0;
}

.list_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 234px 80px 141px;
}
.list_item_text {
  color: #000000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.game_footer {
  background: #1a2349;
  color: #eaeaea;
  height: 555px;
}
.footer_container {
  display: grid;
  grid-template-columns: repeat(4, auto);
}
.footer_container_text {
  margin: 60px 0px 16px 141px;
  color: #eaeaea;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}
.footer_header {
  color: #ffffff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
hr {
  background: #eaeaea;
  width: 177px;
  height: 1px;
}

.line {
  display: flex;
  justify-content: center;
  margin: 16px 140px 20px;
}
.socialmedia {
  display: flex;
  justify-content: flex-end;
  margin: 0 140px;
}
